// Set color variables in root to use in Tailwind config and Vue components
:root {
  --black: #191B1D;
  --white: #FFF;
  --alert: #DE243A;
  --success: #10D372;
  --pending: #EFB800;
  --underlined:#F7E9BB ;
  --primary: #6D31FF;
  --secondary: #B42EED;
  --primary-600: #20002E;
  --primary-550: #5A1777;
  --primary-500: #5A1777;
  --primary-400: #20002E;
  --secondary-300: #A176FF;
  --secondary-200: #BEA0FF;
  --secondary-100: #D8C6FE;
  --secondary-50: #F1E8FF;
  --gray-700: #707070;
  --gray-600: #7E7E7E;
  --gray-500: #909090;
  --gray-400: #D0D0D0;
  --gray-300: #E0E0E0;
  --gray-200: #F5F5F5;
  --gray-100: #FAFAFA;
  --sales-1: #2ABDD2;
  --sales-2: #22D0DD;
  --sales-3: #7CDBE8;
  --expenses-1: #FF664A;
  --expenses-2: #FF9A88;
  --expenses-3: #FFC8BE;
  --avatar-0: #0A1B79;
  --avatar-1: #0B3AD8;
  --avatar-2: #486FF4;
  --avatar-3: #48A5F4;
  --avatar-4: #485319;
  --avatar-5: #64761D;
  --avatar-6: #9EB736;
  --avatar-7: #B9D63F;
  --avatar-8: #8D0E42;
  --avatar-9: #841313;
  --avatar-10: #C92E00;
  --avatar-11: #F4660E;
  --avatar-12: #F4BF0E;
  --avatar-13: #60410e;
  --avatar-14: #816435;
  --avatar-15: #BC8121;
  --avatar-16: #E3B15F;
  --avatar-17: #5C0617;
  --avatar-18: #09533C;
  --avatar-19: #2E9A3B;
  --avatar-20: #73C437;
  --avatar-21: #8AD056;
  --avatar-22: #6C0584;
  --avatar-23: #9934B1;
  --avatar-24: #C576D8;
  --avatar-25: #DDAEE8;
  --avatar-26: #A73889;
  --avatar-27: #CC1987;
  --avatar-28: #FF029D;
  --avatar-29: #F76FC2;
  --avatar-30: #4C5DA4;
  --avatar-31: #B2D2E9;
  --avatar-32: #498AE8;
  --avatar-33: #4A66C4;
  --avatar-34: #16171A;
  --avatar-35: #41445D;
  --avatar-36: #727693;
  --avatar-37: #979DC6;
  --avatar-38: #F8915E;
  --avatar-39: #E06A1B;
  --avatar-40: #F2D325;
  --avatar-41: #D5B81B;
  --avatar-42: #1D5471;
  --avatar-43: #136691;
  --avatar-44: #4393BC;
  --avatar-45: #71A9C6;
  --avatar-46: #E098A1;
  --avatar-47: #F8BAB0;
  --avatar-48: #B489A5;
  --avatar-49: #E88199;
  --assets : #008FDF;
  --liabilities : #3046AA;
  --capital : #ED3432;
  --revenue : #FF971F;
  --expenses : #FF971F;
  --order : #65433A;
  --expansion-arrow: #CCEDFD;
  --expansion-arrow-border: #008FDF;
}
